@using Linkedin.Models
@model InterfaceViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = null;
}

<head>
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <section id="loginForm">
        <div class="header">
            <div id="logo" class="header"> <img src="~/Resource/logo.png" /> </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="form1" class="header">
                    @Html.TextBoxFor(m => m.Email, new { style = "width:200px;height:25px", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>



                <div class="header" id="form2">
                    @Html.PasswordFor(m => m.Password, new { style = "width:200px;height:25px", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>


                <div class="header" id="submit1">
                    <input type="submit" value="Log in" id="submit1" />
                </div>
            }
        </div>
    </section>
    <div class="main">
        <center>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
            <div class="box">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div id="info1"> Be great at what you do</div><br>
                <div id="info2"> Get started - it's free.</div><br>


                <div id="info3">First Name</div>
                @Html.TextBoxFor(m => m.FirstName, new { style = "width:350px; height:30px;" })<br><br>


                <div id="info3">Last Name</div>
                @Html.TextBoxFor(m => m.LastName, new { style = "width:350px; height:30px;" })<br><br>


                <div id="info3">Email</div>
                @Html.TextBoxFor(m => m.Email, new { style = "width:350px; height:30px;" })<br><br>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                <div id="info3">Password (6 or more characters)</div>
                @Html.PasswordFor(m => m.Password, new { style = "width:350px; height:30px;" }) <br><br>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <div id="info4">
                    By clicking Join now, you agree to LinkedIn's User <b style="color:black;">Agreement</b>, <b style="color:black">Privacy Policy</b>, and
                    <b style="color:black">Cookie Policy</b>.
                </div><br>

                <input type="submit" class="button2" value="Register" />
            </div>
            }
        </center>

        <div class="sub-footer">
            <center>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                <div class="box2">
                    Find a colleague: @Html.TextBoxFor(m => m.FirstName, new { style = "width:200px; height:25px;" })
                    @Html.TextBoxFor(m => m.LastName, new { style = "width:200px; height:25px;" })
                    <input type="submit" id="submit2" value="Search" /><br>
                    <p><span style="font-size:12px;">LinkedIn member directory:</span> <span style="color:#0e98f0; font-size:12px;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z More | Browse by country</span> </p>
                    <hr>
                </div>
                }
            </center>

        </div>

        <div class="footer">
            <center>
                <div class="box3">

                    <p>
                        <span style="font-size:12px;">
                            <li>LinkedIn © 2016</li>
                            <li>User Agreement Privacy</li>
                            <li>Policy Community</li>
                            <li>Guidelines Cookie</li>
                            <li>Policy Copyright</li>
                            <li>Policy Guest</li>
                            <li>Controls Language</li>
                        </span>
                    </p>

                </div>
            </center>

        </div>

    </div>



</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}