@model FeedsViewModel

@{
    AjaxOptions ajaxopts = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "commentz",
        InsertionMode = InsertionMode.Replace
    };
}



<div class="LC-tab">
    <button class="fa fa-thumbs-up like-btn" onclick="addLike()"> Like</button>
    <button class="fa fa-commenting like-btn combtn"> Comment</button>
</div>


<div class="comments" id="commentz_@Model.CurrentPost.Id">

    <div class="user-comment">
        <img class="comment-img" src="~/Resource/pic.png" alt="" width="35px" height="35px">
        <input type="text" class="user-text-comment form-control" name="txtBox1" id="txtBox_@Model.CurrentPost.Id">
        <input type="submit" class="form-control comment-submit" value="Comment" id="cmnt_@Model.CurrentPost.Id" onclick="addComment({CurrentPostID:'@Model.CurrentPost.Id',ID:'@Model.ID'})">
    </div>

        @{
            if (Model.CurrentPost.Comments != null)
            {
                foreach (var comment in Model.CurrentPost.Comments)
                {
                    <div class="other-comment">
                        <img class="comment-img" src="~/Resource/pic.png" alt="" width="35px" height="35px">
                        <div class="comment-posting-data">
                            <span class="font-14">@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName</span><br>
                            <span class="font-12">@comment.Date</span>
                        </div>
                        <div class="comment-posting-text font-14">
                            @comment.Content
                        </div>
                    </div>

                }
            }
        }
</div>
