@model SearchViewModel

<link rel="stylesheet" href="~/Content/connectionsheet.css">
@{

    AjaxOptions ajaxOpts = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "connectionz",
        InsertionMode = InsertionMode.Replace
    };

}


@{
    using (Ajax.BeginForm("Delete", "Connections", ajaxOpts))
    {

        if (Model.ApplicationUser != null && Model.ApplicationUser.Skills != null)
        {
            foreach (ApplicationUser friend in Model.SearchedUsers)
            {

                <div class="experience-entity">
                    <img class="experience-img" src="~/Resource/propic.png" alt="" width="70px" height="70px">
                    <div class="experience-data com-nam">
                        <div>@friend.FirstName @friend.LastName</div>
                        <div>
                            @{if (friend.Experiences != null)
                                {
                                    @friend.Experiences[0].Content
                                }
                                else
                                {
                                    <span>Looking for a decent job for a living.</span>
                                }
                            }

                        </div>
                    </div>
                    @*<button type="submit" class="btn btn-default remove-btn">Remove</button>*@
                    @Ajax.ActionLink("Remove", "Delete", "Connections", new { ID = Model.ApplicationUser.Id, DeletedFriendID = friend.Id }, ajaxOpts, new { @class = "btn btn-default remove-btn" })
                </div>
            }
        }
    }
}

@Scripts.Render("~/bundles/jquery")

