@model FeedsViewModel

@foreach (var post in Model.Posts)
{
    Model.CurrentPost = post;

    <div class="posts">
        <div class="poster-data">
            <img class="poster-img" src="~/Resource/pic.png" alt="" width="50px" height="50px">
            <div class="poster-name">
                @{
                    string s = post.ApplicationUser.FirstName + " " + post.ApplicationUser.LastName;
                }
                <div>@Html.ActionLink(s, "DisplayUser", "Person", new { RequiredUserID = post.ApplicationUser.Id, ID = Model.ID }, new { style = "color:Black" })</div>
                <div style="font-size: 12px">
                    @{
                        if (Math.Abs((post.Date - DateTime.Now).Value.TotalMilliseconds) < 1000)
                        {
                            <span>Just now</span>
                        }
                        else if (Math.Abs((post.Date - DateTime.Now).Value.TotalSeconds) < 60)
                        {
                            @(Math.Abs((post.Date - DateTime.Now).Value.Seconds)) <span>seconds ago</span>
                        }
                        else if (Math.Abs((post.Date - DateTime.Now).Value.TotalMinutes) < 60)
                        {
                            @(Math.Abs((post.Date - DateTime.Now).Value.Minutes)) <span>mins ago</span>
                        }
                        else if (Math.Abs((post.Date - DateTime.Now).Value.TotalHours) < 24)
                        {
                            @(Math.Abs((post.Date - DateTime.Now).Value.Hours)) <span>hours ago</span>
                        }
                        else if (Math.Abs((post.Date - DateTime.Now).Value.TotalDays) < 365)
                        {
                            @(Math.Abs((post.Date - DateTime.Now).Value.Days)) <span>days ago</span>
                        }
                        else
                        {
                            @((int)(Math.Abs((post.Date - DateTime.Now).Value.Days) / 365)) <span>years ago</span>
                        }
                    }

                </div>
            </div>
        </div>

        <div class="post-content">
            @post.Content
        </div>
        @Html.Partial("_PartialComments", Model)
    </div>
                        }
