@model FeedsViewModel

<div class="feeds-container" id="postz">


    <div class="wannabe-post">
        <div class="post-area">
            @{
                using (Html.BeginForm("AddPost", "Feed"))
                {
                    @Html.HiddenFor(m => m.ID)
                    @Html.TextAreaFor(m => m.PostContent, new { name = "", @class = "form-control post-text", cols = "30", rows = "10", placeholder = "Write a Post" })
                    <input type="submit" class="form-control post-submit" value="Post">
                }
            }
        </div>
    </div>

    <div class="seperator"></div>
    
    <!--For each post in server.-->

    @{
        foreach (var post in Model.Posts)
        {
            Model.CurrentPost = post;

            <div class="posts">



                <div class="poster-data">
                    <img class="poster-img" src="~/Resource/pic.png" alt="" width="50px" height="50px">
                    <div class="poster-name">
                        @{
                            string s = post.ApplicationUser.FirstName + " " + post.ApplicationUser.LastName;
                        }
                        <div>@Html.ActionLink(s, "DisplayUser", "Person", new { RequiredUserID = post.ApplicationUser.Id,ID=Model.ID },new { style="color:Black"})</div>
                        <div style="font-size: 12px">@post.Date</div>
                    </div>
                </div>




                <div class="post-content">
                    @post.Content
                </div>
                @Html.Partial("_PartialComments", Model)
            </div>
        }
    }




</div>
